<app-header></app-header>
<div class="login-container">
    <form class="login-form" (submit)="addUser()">
        <mat-form-field class="login-full-width">
          <mat-label>User Name :</mat-label>
          <input matInput placeholder="Enter your UserName" [formControl]="userName">
        </mat-form-field>
        <mat-form-field class="login-full-width">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            @if (email.invalid) {
              <mat-error>{{getErrorMessage()}}</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="login-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [formControl]="password" name="password" [type]="hide ? 'password' : 'text'" #passwordInput>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="login-button">
          <button mat-raised-button color="primary" type="submit">Sign Up</button>
        </div>
    </form> 
    <div class="login-msg">Don't have any account? <span (click)="navigateToLogin()">Log In</span></div> 
</div>