<div class="poll-container">
  <ul class="poll-list">
    <li class="poll-item" *ngFor="let poll of availablePolls">
      <mat-card class="poll-card" (click)="onPollCardClicked(poll)"  >
        <mat-card-header>
          <div mat-card-avatar class="poll-avatar">
            <span>{{ poll.pollName.charAt(0) }}</span>
          </div>
          <mat-card-title>{{ poll.pollName }}</mat-card-title>
          <mat-card-subtitle>Created: {{ poll.creationTime | date:'medium' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="validity-info">Valid for {{remainingTime(poll.creationTime).hours}} hours {{remainingTime(poll.creationTime).min}} minuites</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </li>
  
    <li class="poll-item" *ngFor="let poll of votedPolls2">
      <mat-card class="poll-card">
        <mat-card-header>
          <div mat-card-avatar class="poll-avatar2">
            <span>{{ poll.pollName.charAt(0) }}</span>
            
          </div>
          <div class="status" >
            Voted
        </div>
          <mat-card-title>{{ poll.pollName }}</mat-card-title>
          <mat-card-subtitle>Created: {{ poll.creationTime | date:'medium' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="validity-info">Valid for {{remainingTime(poll.creationTime).hours}} hours {{remainingTime(poll.creationTime).min}} minuites</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
      
    </li>
  </ul>
</div>
<!-- <ng-template #noPolls>
 <div class="no-poll-div">
  <p class="no-polls-message">No polls available at the moment.</p>
 </div>
</ng-template> -->
