<div class="poll-container" *ngIf="createdPolls.length > 0; else noPolls">
    <ul class="poll-list">
      <li class="poll-item" *ngFor="let poll of createdPolls">
        <mat-card class="poll-card" (click)="onPollClickInfo(poll)">
          <mat-card-header>
            <div class="status" [ngClass]="{'active': poll.active, 'inactive': !poll.active}">
                {{ poll.active ? 'Active' : 'Inactive' }}
            </div>
            <div mat-card-avatar class="poll-avatar">
              <span>{{ poll.pollName.charAt(0) }}</span>
            </div>
            <mat-card-title>{{ poll.pollName }}</mat-card-title>
            <mat-card-subtitle>Created: {{ poll.creationTime | date:'medium' }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </li>
    </ul>
  </div>
  <ng-template #noPolls>
   <div class="no-poll-div">
    <p class="no-polls-message">No polls are available at the moment.</p>
    <button mat-raised-button color="accent" routerLink="/home/createpoll">Create New Poll</button>
   </div>
  </ng-template>
  