<div class="container">
    <h2>{{ pollName }}</h2>
  
    <div class="options-container">
      <mat-card class="option-card" *ngFor="let option of options">
        <mat-radio-group [(ngModel)]="selectedOptionId">
          <mat-radio-button [value]="option.optionId">
            {{ option.optionName }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </div>
  
    <button mat-raised-button color="primary" (click)="updateOption()">Update Option</button>
  
    <div *ngIf="msg" class="success-msg">
      Poll Vote updated Successfully....
  </div>
  </div>
  