<div class="button-container">
  <mat-button-toggle-group appearance="standard">
    <mat-button-toggle value="created" color="primary" class="circular-button created-polls">Created Polls</mat-button-toggle>
    <mat-button-toggle value="active" class="circular-button active-polls">Active Polls</mat-button-toggle>
    <mat-button-toggle value="inactive" class="circular-button inactive-polls">Inactive Polls</mat-button-toggle>
    <mat-button-toggle value="voted" class="circular-button voted-polls">Voted Polls</mat-button-toggle>
    <mat-button-toggle value="available" class="circular-button available-polls" routerLink="available-polls">Available Polls</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<router-outlet></router-outlet>