/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(135deg, #1b1b1b, #454545);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}